.form {
  width: 1440px;
  height: 1024px;
  background: #262626;
  margin: auto;
  margin-top: 17px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input_name {
  background: #262626;
  margin-bottom: 20px;
  border-color: #1e1e1e;
  width: 600px;
  height: 50px;
}

.button {
  margin-left: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #1E6F9F;
  color: white;
  border-radius: 8px;
  width: 125px;
  height: 52px;
}

.ul {
  position: relative;
  top: 190px;
  list-style-type: none;
}

.li {
  margin-bottom: 20px;
  border: 2px solid #000000;
  width: 800px;
  height: 70px;
}

.p {
  padding: 7px 40px;
}

.fa-solid {
  border: none;
  color: red;
  background: rgba(255, 255, 255, 0);
  font-size: 30px;
  float: right;
}

.addForm {
  position: relative;
  top: 173px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 1440px;
  height: 200px;
  background: #0D0D0D;
}

.todo-logo {
  margin-top: 70px;
  margin-right: 9px;
  width: 126px;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
}

.unicode-logo {
  margin-top: 88px;
  width: 111px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}